@import '../../../Index_sass/sass/index.scss';

    main {
      margin-top: 8em;
      .boxes {
        display: flex;
        flex-wrap: wrap;
        // justify-content: center;
        .box-container {
          width: 100%;
          position: relative;
          &-icons {
            position: absolute;
            width: 100%;
            top: 5%;
            left: 5%;
            z-index: 1;
            a {
              i {
                background-color: $c-theme;
                border-radius: 50%;
                padding: 1em;
                color: $c-white;
                margin-bottom: .5em;
                font-size: 1em;
                @include box-shadow;
                transition: all .5s;
              }
              &:hover, &:focus {
                i {
                  background-color: $c-theme-accent-darken;
                }
              }
            }
          }
          @media (min-width: 500px) {
            width: 50%;
          }
          @media (min-width: 800px) {
            width: 33.333%;
          }
          // @media (min-width: 1200px) {
          //   width: 25%;
          // }
        .box {
          background: lightgrey;
          height: 100vw;
          border-bottom: thin $c-white solid;
          @media (min-width: 500px) {
            height: 50vw;
            border: thin $c-white solid;
          }
          @media (min-width: 800px) {
            height: 33.333vw;
          }
          // @media (min-width: 1200px) {
          //   height: 25vw;
          // }
          position: relative;
          .work-thumbnail {
            width: 100%;
            height: 100%;
            padding: 5em;
            display: flex;
            justify-content: center;
            align-items: center;
          }
            .thumbnail1 {
              background: $c-black url(("")) no-repeat top center / cover;
            }
            .thumbnail2 {
              background: $c-black url(("")) no-repeat top center / cover;
            }
            .thumbnail3 {
              background: $c-black url(("")) no-repeat top center / cover;
            }
            .thumbnail4 {
              background: $c-black url(("")) no-repeat top center / cover;
            }
            .thumbnail5 {
              background: $c-black url("") no-repeat top center / cover;
            }
            .thumbnail6 {
              background: $c-black url("") no-repeat top center / cover;
            }
            &-overlay {
              position: absolute;
              width: 100%;
              height:100%;
              top:0;
              left:0;
              background:rgba(darken($c-theme, 20%), 0.9);;
              opacity: 0;
              transition: all .5s;
              &::before {
                content: 'Work Title';
                color: $c-white;
                font-family: $f-headings;
                text-transform: uppercase;
                position: absolute;
                font-size: 1.8em;
                width: 100%;
                bottom: 12%;
                left: 5%;
                opacity: 0;
                transition: all .5s;
              }
              &::after {
                content: 'Work Description';
                color: $c-white;
                font-family: $f-headings;
                position: absolute;
                font-size: 1.3em;
                width: 100%;
                bottom: 5%;
                left: 5%;
                opacity: 0;
                transition: all .5s;
              }
              &:hover {
              opacity: 1;
                &::before {
                  opacity: 1;
                  font-size: 1.5em;
                }
                &::after {
                  opacity: 1;
                  font-size: 1em;
                }
              }
            }
            &-overlay1 {
              &::before {
                content: 'Pack-It';
              }
              &::after {
                content: 'Collaboration';
              }
            }
            &-overlay2 {
              &::before {
                content: 'Weather Dashboard';
              }
              &::after {
                content: 'Individual';
              }
            }
            &-overlay3 {
              &::before {
                content: 'Code Quiz';
              }
              &::after {
                content: 'Individual';
              }
            }
            &-overlay4 {
              &::before {
                content: 'Team Profile Generator';
              }
              &::after {
                content: 'Individual';
              }
            }
            &-overlay5 {
              &::before {
                content: 'Burgers';
              }
              &::after {
                content: 'Individual';
              }
            }
            &-overlay6 {
              &::before {
                content: 'Good Cuisine';
              }
              &::after {
                content: 'Collaboration';
              }
            }
          }
        }
      }
    }