@import '../../../Index_sass/sass/index.scss';

#home {
  .hero {
      padding: 10em 0 5em;
      background-color: $c-theme;  
      color: $c-white;
      text-align: center;
      .wrapper {
        @include center(470px);
      }
      p {
        color: $c-white;
        margin-top: 1em;
      }
    }
    .skills {
      padding: 10% 0;
      background-color: $c-white;
      .wrapper {
        @include center(767px);
        h2 {
          text-align: center;
        }
        .skills-wrapper {
          text-align: center;
          display: flex;
          flex-wrap: wrap;
          .skill {
            flex: 1;
            flex-basis: 50%;
            i {
              color: $c-theme;
              margin-bottom: .5em;
              font-size: 3em;
            }
            &:not(:last-of-type) {
              margin-bottom: 3em;
              @media screen and (min-width: 576px) {
                margin-bottom: 0;
              }
            }
          }
          @media screen and (min-width: 576px) {
            .skill {
              flex-basis: 0;
            }
          }
        }
      }
    }
    main {
      @include center(960px);
      .contact-me {
        padding: 10% 0;
        .bio-content {
          .img-links {
            img {
              margin: 0 0 2em 0;
            }
            @media screen and (min-width: 576px) {
              width: 40%;
              margin: 0 2em 0 0;
            }
            .about-links {
              margin-bottom: 1em;
              a {
                color: $c-theme;
                i {
                  margin-left: .5em;
                }
                &:hover, &:focus {
                  color: $c-theme-accent-darken;
                }
                &:not(:last-of-type) {
                  margin-right: .5em;
                  padding-right: .5em;
                  border-right: thin solid $c-theme-accent-darken;
                }
              }
            }
          }
          .contact-links {
            margin-bottom: 2em;
          }
          .bio {
            p:first-of-type {
              margin-bottom: 1em;
            }
            @media screen and (min-width: 576px) {
              width: 60%;
            }
          }
          @media screen and (min-width: 576px) {
            display: flex;
          }
        }
      }
    }
}