body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

/* ---------  Variables */
$c-theme: #ed1c24;
$c-theme-accent: #949494;
$c-theme-accent-darken: darken($c-theme-accent, 20%);
$c-white: #fff;
$c-black: #000;
$c-bg: #fbf6f1;

@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);

$f-headings: 'Roboto', sans-serif;
$f-body: 'Roboto', sans-serif;


/* ---------  Mixins */
@mixin box-shadow {
  -webkit-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.3);
  box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.3);
}

@mixin center($max-width) {
  width: 90%;
  max-width: $max-width;
  margin: auto;
}


/* ---------  Setup */
* {
    box-sizing: border-box;
  }
  
  body {
      margin: 0;
      background: $c-bg; 
  }


  /* ---------  Fonts */
  h1, h2, h3, h4, h5 {
    font-family: $f-headings;
    margin: 0;
    text-transform: uppercase;
  }

  h1 {
    color: $c-white;
    font-size: 2rem;
    @media screen and (min-width: 576px) {
        font-size: 2.5rem;
    }
  }

  h2 {
      color: $c-theme;
      font-size: 1.5rem;
      @media screen and (min-width: 576px) {
        font-size: 1.875rem;
      }
  }

  h3 {
      font-weight: normal;
      font-size: .9rem;
      @media screen and (min-width: 767px) {
        font-size: 1.17rem;
      }
  }

  h6 {
    color: $c-theme;
    font-weight: bold;
    font-family: $f-headings;
    margin: 0;
  }

  strong {
    color: $c-black;
  }

  p, ul, li, a, label, input[type="text"],
  textarea[type="text"], input[type="text"]::placeholder, textarea[type="text"]::placeholder, button[type="submit"] {
    font-family: $f-body;
    margin: 0;
    color: #777;
  }

  ul {
      list-style-type: none;
      padding: 0;
  }

  a {
      text-decoration: none;
      transition: .4s all;
      &:hover, &:active {
        color: $c-theme;
        text-decoration: none;
    }
  }

    /* ---- layout */
 .navbar-container {
  background-color: $c-white;
  border-bottom: thin solid #ddd;
  @include box-shadow;
  .navbar {
    padding: 0;
    width: 90%;
    max-width: 960px;
    margin: auto;
    background-color: $c-white;
    .navbar-brand {
      padding: 20px;
      display: flex;
      align-items: center;
      .logo {
          height: 2em;
          margin-right: 20px;
          &-name {
              display: none;
              color: $c-theme-accent;
              font-size: 1.2em;
              @media screen and (min-width: 767px) {
                  display: inline-block;
              }
          }
      }
      &:hover,
      &:focus {
        opacity: .6;
      }
    }
    .navbar-toggler {
      border: none;
      &:focus {
        outline: none;
        opacity: .5;
      }
      &-icon:hover,
      &-icon:focus {
        opacity: .5;
        transition: .4s all;
      }
    }
    #navbarNav {
      .nav-item {
        color: #777;
        &:not(:last-of-type) {
          padding-right: 10px;
          margin-right: 10px;
          @media screen and (max-width: 767px) {
              padding-right: 0;
              margin-right: 0;
              border:none;
          }
        }
      }
      @media screen and (max-width: 767px) {
        text-align: right;
        margin-bottom: .5em;
      }
    }
  }
  .navbar-light .navbar-nav .active >.nav-link {
    color: $c-theme;
  }
}

main {
  .card-title {
    text-align: center;
  }
}

.footer {
  background-color: $c-theme-accent-darken;
  &-text {
    color: $c-white;
    font-size: .75em;
  }
}


/* ----- Sticky Footer */
.react-body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  .react-main {
    flex: 1 0 auto;
    min-height: auto;
  }
}
  